<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>visor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type ="text/css" href="/css/stylelogin.css">
  </head>

  <body>

    <div class="header">
      <img class="logo" src="img/inspector.jpeg" alt="Logo" width="70px" height="70px">
      <nav>
        <ul class="nav__links">
          <li><a href="./home.ejs">Home</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Temperature Map</a></li>
          <li><a href="#">Wind Map</a></li>
          <li><a href="#">Sing In</a></li>
        </ul>
      </nav>
    </div>

    <div class="body">
    <div class="contenedor">
        <p class="heading">Login In</p>
        <form id="loginForm" action="user/login" method="POST">
          <div class="box">
            <p>Email</p>
            <div>
                <input type="email" name="email" placeholder="Enter Your Email" required>
              </div>
            </div>
          <div class="box">
            <p>Password</p>
            <div>
                <input type="text" name="password" placeholder="Enter Your Password" required>
            </div>
          </div>
            <input type="submit" id="login" value="login" class="loginBtn">
        </form>
    </div>
  </div>

</body>
</html>